name: Import Keystore
on:
  workflow_call:

jobs:
   import-keystore:
    runs-on: macos-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          submodules: 'true'
          fetch-depth: 0
      - name: Decode & Store Keystore
        run: |
          mkdir keystore
          cd . > keystore/keystore.properties
          cd . > keystore/keystore.jks
          echo ${{ secrets.SIGNING_STORE_PROPERTIES }} | base64 --decode > keystore/keystore.properties
          echo ${{ secrets.SIGNING_KEY_STORE_BASE64 }} | base64 --decode > keystore/keystore.jks

      - name: Generate cache key
        run: ./scripts/checksum.sh . checksum.txt

      - name: Gradle cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches/modules-*
            ~/.gradle/caches/jars-*
            ~/.gradle/caches/build-cache-*
          key: gradle-${{ hashFiles('checksum.txt') }}

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
